@import "../variables";

.monitorings-list {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-content: space-around;
  .list-row {
    span.feature-icon {
      float: left;
      margin-top: 15px;
      margin-right: 5px;
    }
    border-left: 5px solid #aaa;
    &.red {
      border-left-color: darken($state-danger-border, 25%);
    }
    &.none {
      border-left-color: darken($state-info-border, 25%);
    }
    &.yellow {
      border-left-color: darken($state-warning-border, 25%);
    }
    &.green {
      border-left-color: darken($state-success-border, 25%);
    }
    &.disabled {
      color: #888 !important;
      background-color: #ccc;
      border-left: none;
    }
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 3px;
    padding: 5px;
    .info {
      flex-grow: 3;
      flex-basis: 0;
    }
    .url-check {
      flex-grow: 3;
      flex-basis: 0;
      display: flex;
      justify-content: flex-end;
      div {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid;
        border-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          margin-right: 3px;
          &:last-child {
            margin: 0;
          }
        }
        &.green {
          background-color: $state-success-bg;
          color: $state-success-text;
          border-color: $state-success-border;
        }
        &.yellow {
          background-color: $state-warning-bg;
          color: $state-warning-text;
          border-color: $state-warning-border;
        }
        &.red {
          background-color: $state-danger-bg;
          color: $state-danger-text;
          border-color: $state-danger-border;
        }

      }
    }
    .ping-times {
      font-size: 13pt;
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      justify-content: flex-end;
      div {
        margin: 0 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        max-width: 100px;
        border: 1px solid;
        border-radius: 3px;
        border-color: transparent;
        &.green {
          background-color: $state-success-bg;
          color: $state-success-text;
          border-color: $state-success-border;
        }
        &.yellow {
          background-color: $state-warning-bg;
          color: $state-warning-text;
          border-color: $state-warning-border;
        }
        &.red {
          background-color: $state-danger-bg;
          color: $state-danger-text;
          border-color: $state-danger-border;
        }
        &.none {
          background-color: $state-info-bg;
          color: $state-info-text;
          border-color: $state-info-border;
        }
      }
    }
  }
}
