@import "../variables";

.similar {
  font-weight: 600;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  max-width: 150px;
  border-radius: 3px;
  padding: 3px 10px;
  &.danger {
    background: $similar-danger-bg;
    color: $similar-danger-text;
  }
  &.warn {
    background: $similar-warning-bg;
    color: $similar-warning-text;
  }
  &.okay {
    background: $similar-okay-bg;
    color: $similar-okay-text;
  }
  &.details-pill {
    margin-bottom: 2px;
  }
}
